<div class="search">
  <form #form="ngForm">
    <input type="text" placeholder="Search" [(ngModel)]="searchInput" name="movie"  >
    <button type="submit" (click)="searchMovie()">Search</button>
</form>
</div>

<div class="wrapper">

  <div *ngFor="let movieItem of moviesData?.results" class="movieBlock">
    <img [src]="movieItem?.primaryImage?.url" [alt]="movieItem?.primaryImage?.caption?.plainText" class="primaryImage" height="300">
      <h3>{{movieItem?.titleText?.text}}</h3>
      <p>{{movieItem?.releaseYear?.year}}</p>
      <p>Position: {{movieItem?.position}}</p>
  </div>

  <button *ngIf="moviesData?.page" (click)="previousSearch('/titles/search/keyword/' + searchInput + '?page=' + (moviesData?.page - 1))">Previous</button>
  <button *ngIf="moviesData?.next" (click)="nextSearch(moviesData?.next)"  >Next</button>
  

</div>

